{% block content %}
{%if quests%}
<div class="quests">
	{% for question in quests%}
	<div class="question">
		<h3>Question {{question.id}}: {{question.title}}</h3>
		<h5>Rating {{question.rating}}. Author: {{question.author.username}}. Added: {{question.added_at}}</h5>
		<p>{{question.text}}</p>
	</div>
	<hr>
	{% endfor %}
</div>
{% else %}
<p>No quests</p>
{% endif %}
<div class="pagination">
	<span class="step-links">
		{% if quests.hasprevious %}
		<a href="?page={{ quests.pervious_page_number }}&limit={{ limit  }}">>><a/>
		{% endif %}
		<span class="current">
			Page {{ quests.number }} in {{ quests.paginator.num_pages }}
		</span>
		{% if quests.has_next %}
		<a href="?page={{ quests.next_page_number }}&limit={{ limit }}">>></a>
		{% endif %}
	</span>
</div>
{% endblock %}
